/** MAIN CSS **/
.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

.clear-all {
  clear: both;
}

.clear-left {
  clear: left;
}

.clear-right {
  clear: right;
}

.user-banner {
  width: 180px;
  padding: 1px 10px;
  background: #2ecc71;
  text-align: center;
  height: 76px;
}
.user-banner img {
  display: inline-block;
  vertical-align: middle;
  margin-top: 5px;
  width: 45px;
  padding-top: 10px;
  float: left;
  border-radius: 100%;
}

/** IMPORT HELPER CSS **/
/** IMPORT BASE CSS **/
html, body {
  height: 100%;
}

body {
  padding: 0;
  margin: 0;
  font: 14px/20px "Proxima Nova", "Helvetica Neue", arial, sans-serif;
  color: #676e74;
  background: #f2f2f2;
}

h1, h2, h3, h4, h5, h6 {
  color: #1F2123;
}

h1, h2 {
  color: #4f5459;
  margin: 5px 0 20px 0;
}

h1 {
  font-size: 25px;
}

h2 {
  font-size: 20px;
}

.light {
  color: #b6babe;
}

#nav {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 180px;
  color: #fff;
  background: #34495e;
  z-index: +10;
}
#nav a {
  color: #85969a;
  text-decoration: none;
}
#nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  font-weight: 600;
}
#nav ul li.head {
  color: #50585f;
  font-size: 11px;
  letter-spacing: 1px;
  text-transform: uppercase;
  padding: 6px 12px;
}
#nav ul li a {
  display: block;
  padding: 15px 10px;
  margin: 5px 0;
  border-radius: 2px;
}
#nav ul li a i {
    margin-right: 20px;
    font-size: 20px;
}
#nav ul li a:hover {
  background: #243342;
}
#nav ul li.active a {
  color: #fff;
  background: #243342;
}

#main {
  margin-left: 180px;
}
#main header {
      top: 0;
  height: 77px;
  position: fixed;
  background: #fff;
  width: 100%;
  padding: 20px;
  z-index: +1;
  border-bottom: 1px solid #d9e2e7;
}
#main header .breadcrumb {
  margin-bottom: 0px;
  background: transparent;
}
#main header h1 {
  color: #737E89;
  font-size: 17px;
  font-weight: 400;
  margin: 0;
}
#main #content {
  position: relative;
  top: 77px;
}
#main .property-glance i {
  margin-right: 5px;
}
#main .property-glance .progress {
  float: right;
  width: 30%;
  height: 18px;
  margin-top: 2px;
}
#main .property-glance .progress .progress-bar {
  font-size: 75%;
}
#main .property-glance .widget {
  text-align: center;
  margin-top: 20px;
  padding: 10px;
  background: #fa5a5a;
  color: #fff;
  font-size: 200%;
}
#main .property-glance .widget:hover {
  background: #fa4b4b;
}
#main .timeline {
  position: relative;
  padding-left: 80px;
}
#main .timeline:before {
  position: absolute;
  width: 2px;
  height: 100%;
  left: 40px;
  content: "";
  background: #cbd4db;
}
#main .timeline .item {
  position: relative;
}
#main .timeline .item .circle {
  position: absolute;
  top: 20px;
  left: -42px;
  background: #acbbc7;
  border: 1px solid #ccc;
  width: 6px;
  height: 6px;
  border-radius: 50%;
}
#main .timeline .item .message {
  position: relative;
  z-index: 2;
  padding: 15px 20px;
  margin-bottom: 15px;
  background: #fff;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}
#main .timeline .item .message:before {
  position: absolute;
  z-index: 0;
  content: "";
  top: 25px;
  left: -6px;
  box-sizing: border-box;
  border: 5px solid transparent;
  border-top-color: #fff;
  border-bottom-color: transparent;
  border-left-color: #fff;
  border-right-color: transparent;
  filter: drop-shadow(-1px 0 1px rgba(0, 0, 0, 0.08));
  transform-origin: 0 0;
  transform: rotate(-45deg);
}

@media (max-width: 767px) {
  .search{
    margin-right: 75px!important;
  }
  .noti a{
    padding: 0 5px!important;
  }
  .user-banner {
    width: 66px;
    padding: 1px 0px 1px 0px;
    background: #2DCC70;
    text-align: center;
  }
  .user-banner img {
    display: inline-block;
    vertical-align: middle;
    margin-top: 5px;
    width: 50px;
    margin-right: 5px;
    float: none;
    border-radius: 100%;
  }
  .user-banner .username {
    font-size: 75%;
    font-weight: bold;
    display: none;
  }

  #nav {
    z-index: +10;
    width: 66px;
  }
  #nav li.head,
  #nav li span {
    display: none;
  }

  #main {
    margin-left: 66px;
  }

  .post .avatar {
    width: 50px;
  }
}
@media (max-width: 320px) {
  .user-banner {
    width: 100%;
    padding: 1px 0px 1px 0px;
    background: #2DCC70;
    text-align: center;
  }
  .user-banner img {
    display: inline-block;
    vertical-align: middle;
    width: 20px;
    margin-right: 5px;
    border-radius: 100%;
  }
  .user-banner .username {
    display: inline;
    font-weight: bold;
  }

  #nav {
    z-index: +10;
    width: 100%;
    bottom: auto;
  }
  #nav li.head,
  #nav li span {
    display: none;
  }
  #nav ul {
    padding: 3px 5px;
  }
  #nav li {
    display: inline-block;
  }
  #nav li a {
    padding: 6px 5px;
  }
  #nav li a i {
    margin: 0 !important;
  }

  #main {
    padding: 50px 0 0 0;
    margin: 0;
  }
}
.box {
  position: relative;
  background: #fff;
  box-sizing: border-box;
  margin-bottom: 20px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  border-radius: 2px;
}
.box h4 {
  margin: 0 0 10px 0;
}
.box .header {
  padding: 20px 20px 0;
}
.box .body {
  padding: 20px 20px 8px;
}
.box .footer {
  padding: 10px 20px;
  border-top: 1px solid #E9EEF1;
}

.post .avatar {
  float: left;
  width: 60px;
}
.post .message {
  margin-left: 80px;
}
.post .box {
  border: 1px solid #CAD5E0;
}
.post .box::before {
  content: "";
  display: block;
  position: absolute;
  top: 21px;
  left: -6px;
  width: 10px;
  height: 10px;
  background: #fff;
  border-left: 1px solid #CAD5E0;
  border-top: 1px solid #CAD5E0;
  transform: rotate(-45deg);
}

.love {
  text-align: center;
  color: #80878e;
  padding: 20px 0;
}
.love .fa-heart {
  margin: 0 6px;
  font-size: 16px;
}
.username{
  color: white;
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 13px;
}
#nav ul li.active a i{
  color: #2ecc71;
}
.logo-dashboard{
    width: 60px;
    position: absolute;
    top: 50%;
    left: 40%;
    margin-top: -30px;
    margin-left: -30px;
}
.noti{
  padding-top: 7px;
  float: left;
}
.noti a{
  position: relative;
  color: #aeaeae;
  padding: 0 10px;
  font-size: 20px;
}
.noti a span{
    font-size: 12px;
    display: block;
    position: absolute;
    top: -6px;
    right: 2px;
    width: 15px;
    height: 15px;
    background: red;
    text-align: center;
    color: white;
    border-radius: 50%;
    line-height: 16px;
}
.search {
    width: 115px;
  position: relative;
  float: right;
  margin-right: 210px;
}

.searchTerm {
  float: left;
  width: 100%;
      height: 36px;
  border: none;
  padding: 5px;
  border-radius: 5px;
  outline: none;
  color: #9DBFAF;
}

.searchTerm:focus{
  color: #00B4CC;
}

.searchButton {
  position: absolute;  
  right: -25px;
  width: 40px;
  height: 36px;
  border: none;
  background: none;
  text-align: center;
  color: #aeaeae;
  border-radius: 5px;
  cursor: pointer;
  font-size: 20px;
}


.profile img{
  width: 105px;
  border-radius: 50%;
  float: left;
}
.about-me{
  margin-left: 130px;
}
.name-pro{
  float: left;
    margin: 0;
    padding-top: 15px;
    font-size: 23px;
    margin-right: 15px;
}
.rating{
  padding-top: 16px;
}
.rating span{
  font-size: 18px;
  line-height: 24px;
}
.rating span i.fa-star{
  color: #e74c3c;
}
.job-info{
  margin-top: 8px;
}
.job-info p{
    margin-bottom: 9px;
}
.job-pro{
  color: #aeaeae;
      float: left;
      font-size: 16px;
}
.job-pro:after{
  content: "•";
  padding: 0 12px;
}
.learn-more{
  font-size: 16px;
}
.exp-pro{
  color: #aeaeae;
  font-size: 16px;
}
.setting-pro{
  position: absolute;
    right: 25px;
    top: 55px;
}
.setting-pro a{
  color: #aeaeae;
      display: block;
    font-size: 20px;
    width: 35px;
    height: 35px;
    padding-top: 7px;
    text-align: center;
    border: 1px #aeaeae solid;
    border-radius: 50%;
    float: left;
    margin-right: 15px;
}
.setting-pro a:hover{
  color: white;
  background: #2ecc71;
  border-color: #2ecc71;
}
@media (max-width: 650px){
  .about-me {
      margin-left: 115px!important;
  }
  .rating{
    padding-top: 0!important;
  }
  .name-pro{
    font-size: 16px!important;
    margin-bottom: 2px!important;
    float: none!important;
  }
  .learn-more,.exp-pro,.job-pro{
    font-size: 14px!important;
  }
  .job-info {
      margin-top: 0px!important;
  }
  .job-info p {
      margin-bottom: 3px!important;
  }
  .setting-pro{
    position: relative!important;
    top: 0!important;
    right: -11px!important;
  }
}
@media (max-width: 380px){

  .job-pro:after{
    content: "•";
    padding: 0 2px!important;
  }
  .logo-dashboard {
      width: 43px;
      position: absolute;
      top: 60%;
      left: 40%;
      margin-top: -30px;
      margin-left: -30px;
  }
  .learn-more,.exp-pro,.job-pro{
    font-size: 13px!important;
  }
  .job-info p {
      margin-bottom: 0px!important;
  }
}
.profile{
    background: white;
    padding: 25px 25px;
}
.nav-tabs{
  background: white;
  padding: 0 25px;
}
.tab-pane{
      padding: 25px 25px;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover{
  border-bottom: 4px #2ecc71 solid;
  border-top: none;
  border-left: none;
  border-right: none;
    color: black;
    font-weight: bold;
    font-size: 16px;
    text-transform: uppercase;
    padding: 15px 5px 5px;
}
.nav-tabs>li>a{
  color: black;
    font-weight: bold;
    font-size: 16px;
    text-transform: uppercase;
    padding: 15px 5px 5px;
}
.nav-tabs>li {
    margin-left: 15px;
    margin-right: 15px;
}
.nav-tabs>li>a:hover {
    border: 1px #fff solid;
}
.nav>li>a:focus, .nav>li>a:hover {
    text-decoration: none;
    background: none;
}
#edit-pro{
  margin: 30px;
  background: white;
  padding: 15px;
}
/* modal panel edit profile*/
@import url(http://fonts.googleapis.com/css?family=Roboto);

/****** LOGIN MODAL ******/
.editmodal-container {
  padding: 30px;
      position: relative;
    width: 100% !important;
    max-width: 500px;
  background-color: #fff;
  margin: 0 auto;
  border-radius: 2px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  min-height: 500px;
  font-family: roboto;
}

.editmodal-container h1 {
  text-align: center;
  font-size: 1.8em;
  font-family: roboto;
}

.editmodal-container input[type=submit] {
  width: 100%;
  display: block;
  margin-bottom: 10px;
  position: relative;
}

.editmodal-container input[type=text], input[type=password] {
  height: 44px;
  font-size: 16px;
  width: 100%;
  margin-bottom: 10px;
  -webkit-appearance: none;
  background: #fff;
  border: 1px solid #d9d9d9;
  border-top: 1px solid #c0c0c0;
  /* border-radius: 2px; */
  padding: 0 8px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.editmodal {
  text-align: center;
  font-size: 14px;
  font-family: 'Arial', sans-serif;
  font-weight: 700;
  height: 36px;
  padding: 0 8px;
/* border-radius: 3px; */
/* -webkit-user-select: none;
  user-select: none; */
}

.editmodal-submit {
  /* border: 1px solid #3079ed; */
  border: 0px;
  color: #fff;
  text-shadow: 0 1px rgba(0,0,0,0.1); 
  background-color: #4d90fe;
  padding: 17px 0px;
  font-family: roboto;
  font-size: 14px;
  /* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#4787ed)); */
}

.editmodal-submit:hover {
  /* border: 1px solid #2f5bb7; */
  border: 0px;
  text-shadow: 0 1px rgba(0,0,0,0.3);
  background-color: #357ae8;
  /* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#357ae8)); */
}

.editmodal-container a {
  text-decoration: none;
  color: #666;
  font-weight: 400;
  text-align: center;
  display: inline-block;
} 

.login-help{
  font-size: 12px;
}
.background-edit{
  height: 100px;
  width: 500px;
  position: absolute;
  left: 0;
  top: 0;
}
.edit-avatar{
  width: 100px;
  height: 100px;
  border-radius: 50%;
  left: 50%;
  top: 50px;
  margin-left: -50px;
  position: absolute;
  display: inline-block;
}
.edit-img-pencil{
  z-index: 1000;
  display: block!important;
  color: rgba(0,0,0,0.1);;
  width: 100px;
  height: 100px;
  padding: 32px;
  border: 1px white solid;
  border-radius: 50%;
  position: absolute;
  left: 43%;
  margin-left: -15px;
  background: rgba(0,0,0,0.1);
  top: 50px;
  cursor: pointer;
}
.edit-img-pencil i{
  color: white;
  width: 100%;
  height: 100%;
}
.edit-avatar:hover + .edit-img-pencil,
.edit-avatar:hover ~ .edit-img-pencil{
  color: rgba(255,255,255,1);
  background: rgba(0,0,0,0.4);
}
.edit-profile{
  margin-top: 150px;
  padding: 0 50px;
}
.edit-profile .form-group label {
    margin-bottom: 0;
    color: #8e8e8e;
    font-weight: 500;
}
.edit-profile input.form-control {
    height: 40px;
    border-left: none;
    border-right: none;
    border-top: none;
    box-shadow: none;
    height: 28px;
    padding-left: 0;
}
.edit-profile .form-control {
    border-radius: 0!important;
}
button.update{
    float: none;
    margin: auto;
    text-align: center;
    display: block;
    padding: 10px 25px;
    background: #f5ac26;
    color: white;
    border: 1px #f6bb4f solid;
    box-shadow: none;
}
button.update:hover{
    float: none;
    margin: auto;
    text-align: center;
    display: block;
    padding: 10px 25px;
    background: #fff;
    color: #f6bb4f;
    border: 1px #f6bb4f solid;
    box-shadow: none;
}

.pac-container.pac-logo{
  z-index: 10000;
}
