body{
  font-family: 'Roboto', sans-serif;
}
#login-page{
  background: url('../images/background-login.jpg');
  background-size: cover;
    width: 100%;
    position: absolute;
    padding-top: 100px;
    top: 0;
}
.form-login{

    background: white;
  float: none;
    margin: auto;
  margin-bottom: 100px;
  -webkit-box-shadow: 0 35px 35px -6px #354c61;
     -moz-box-shadow: 0 35px 35px -6px #354c61;
          box-shadow: 0 35px 35px -6px #354c61;
    padding: 0;
}
.block-or {
    margin-top: 195px;
    z-index: 100;
    left: 47%;
    position: absolute;
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    font-size: 18px;
    border-radius: 50%;
    border: 1px #efecec solid;
    background: white;
    font-style: italic;
}
.login{
  min-height: 451px;
  max-height: 451px;
  padding: 50px 70px 15px;
}
.sign-in-social{
  background-repeat: no-repeat;
  min-height: 451px;
  background: url('../images/ballon.jpg');
  background-size: cover;
  background-position: center;
  color: white;
    padding: 50px 70px 15px;
}
.register .checkbox label{
  color: #8e8e8e;
}
.register .checkbox{
    margin: 20px 0;
}
.register a{
  color: #f6bb4f;
}
.sign-up-social{
  background-repeat: no-repeat;
  min-height: 451px;
  background: linear-gradient(
      rgba(246, 187, 79,0.7), rgba(246, 187, 79,0.7)
    ),url('../images/ballon.jpg');
  background-size: cover;
  background-position: center;
  color: white;
    padding: 50px 40px 15px;
}
.close{
    position: absolute;
    top: 5px;
    right: 10px;
}
.form-control{
  border-radius: 0!important;
}
p.des {
    font-size: 20px;
    margin-bottom: 25px;
}
.login p.des {
    color: #807d7d;
}
.form-login h1{
  font-size: 28px;
    margin-bottom: 5px;
}
.form-group label{
    margin-bottom: 0;
    color: #8e8e8e;
    font-weight: 500;
}
.register{
    padding-top: 65px;
}
.login input.form-control{
    height: 40px;
    border-left: none;
    border-right: none;
    border-top: none;
    box-shadow: none;
    height: 28px;
    padding-left: 0;
}
.login .form-group{
  margin-bottom: 20px;
}
.btn-login{
    width: 100%;
    height: 40px;
    background: #f6bb4f;
    color: white;
    box-shadow: none;
    border: 1px #f6bb4f solid;
}
.span-or{
  float: left;
  margin-right: 15px;
    line-height: 40px;
}
.btn-register{
  float: left;
    width: 130px;
    margin-right: 15px;
    height: 40px;
    background: #f6bb4f;
    color: white;
    box-shadow: none;
    border: 1px #f6bb4f solid;
}
.btn-login:hover{
  background: white;
  color: #f6bb4f;
}
.forgot-pass{
    margin-top: 5px;
    display: block;
    color: #ccc;
    text-decoration: underline;
    font-size: 13px;
}
.intro-sign-up{
  margin-top: 50px;
}
.have-account{
    display: block;
    text-decoration: underline;
    font-size: 13px;
    float: left;
    line-height: 40px;
}
a.btn-social {
    background: white;
    display: block;
    width: 40px;
    height: 40px;
    float: left;
    line-height: 40px;
    font-size: 18px;
    padding: 0;
    margin: 10px 5px;
    border-radius: 50%;
}
.list-btn-social{
    float: none;
    width: 150px;
    margin: 0 auto;
}
a.btn-social i.fa-facebook{
  color: #3b5998;
}
a.btn-social i.fa-twitter{
  color: #1dcaff;
}
a.btn-social i.fa-google-plus{
  color: #d34836;
}
.dont-have-account{
    margin-top: 150px;
    margin-bottom: 0;
}
#login-page a.register-redirect{
    display: block;
    color: white;
    text-decoration: underline;
    font-size: 13px;
}
@media (min-width: 992px){
  #login-page{
    height: 100%;
  }
}
@media (max-width: 992px){
  .sign-in-social,.login{
    padding: 50px 50px 15px!important;
  }
}
@media (max-width: 768px){
  .sign-in-social,.login{
    padding: 50px 30px 15px!important;
  }
  #login-page{
    position: relative!important;
    height: 100%;
  }
  .block-or {
    display: none!important;
  }
}

.alert{
  margin-bottom: 0px;
}

#forgot-pass-form{
  display: none;
}

#toggle-form:checked ~ form#forgot-pass-form{
  display: block;
}
#toggle-form:checked ~ form#login-form{
  display: none!important;
}
#login-form{
  display: block!important;
}
.popover.primary {
    border-color:#337ab7;
}
.popover.primary>.arrow {
    border-top-color:#337ab7;
}
.popover.primary>.popover-title {
    color:#fff;
    background-color:#337ab7;
    border-color:#337ab7;
}
.popover.success {
    border-color:#d6e9c6;
}
.popover.success>.arrow {
    border-top-color:#d6e9c6;
}
.popover.success>.popover-title {
    color:#3c763d;
    background-color:#dff0d8;
    border-color:#d6e9c6;
}
.popover.info {
    border-color:#bce8f1;
}
.popover.info>.arrow {
    border-top-color:#bce8f1;
}
.popover.info>.popover-title {
    color:#31708f;
    background-color:#d9edf7;
    border-color:#bce8f1;
}
.popover.warning {
    border-color:#faebcc;
}
.popover.warning>.arrow {
    border-top-color:#faebcc;
}
.popover.warning>.popover-title {
    color:#8a6d3b;
    background-color:#fcf8e3;
    border-color:#faebcc;
}
.popover.danger {
    border-color:#ebccd1;
}
.popover.danger>.arrow {
    border-top-color:#ebccd1;
}
.popover.danger>.popover-title {
    color:#a94442;
    background-color:#f2dede;
    border-color:#ebccd1;
}